
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg
*.egg-info/

.venv/
.env/
.uv/

dist/
build/
*.manifest
*.spec

.coverage
htmlcov/
.cache/
nosetests.xml
coverage.xml
*.cover
*.pytest_cache/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

!uv.lock
!pyproject.toml
!requirements.txt
!README.md
